
.overlaySmall{
    width: 100%;
    z-index: 10;
   
}
.grandContainer{
   position: relative;
}
.modelContainerSmall{
    border-top: 1px solid white ;
    background-color: rgb(220, 208, 208);
    max-height: 500px;
    overflow:auto;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0%;
} 
.tdImage img{
    width: 100%;
}
.modelContainerSmall table{
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.modelContainerSmall tbody{
    width: 100%;
    color: white;
}

.modelContainerSmall td{
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom: 1px solid black;
}
.tdImage{
    width: 100px;
    height: 100px;
}

.total{
    color: #eb4f29;
    font-size: 0.9em;
    margin-right: 40px;
    float: right;
    color: black;
    font-weight: 600;
}

.buttonBuy{
    width: 35%;
 padding: 15px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    background-color: white;

}

.buttonModalSmall{
    margin-bottom: 4vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
} 