
.registerMain{
    background-image: url('../../asset/pc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.error{
    color: white;
    font-size: 20px;
    text-align: center;
}

.registerContainer h2{
    text-align: center;
    color: white;
}
.registerFormulaire{
    width: 50%;
    margin: auto;

}
.inputRegister{
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.registerFormulaire .connect{
    cursor: pointer;
    color: #eb4f29;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.buttonRegister{
    width: 10%;
    margin: auto;
}