

.DivRegisterText{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
border-radius: 4px;
    width: 70%;
    margin: auto;

}
.registerMain{
    height: 100vh;
    background: rgb(29,40,98);
background: radial-gradient(circle, rgba(29,40,98,1) 0%, rgba(3,4,23,1) 100%);

}
.registerContainer{
    width: 100%;
    margin-top: 50px;
}

.RegisterText{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
}


.ImgDivSide{
    width: 50%;
}
.registerFormulaire{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;

}

.ImgSide{
    width: 100%;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    display: block;
}
.displayFlexRegister{
    width: 70%;
    display: flex;
    margin:  auto;
justify-content: space-between;
    align-items: center;
    background-color: rgba(194, 175, 175, 0.636);

    border-radius: 7px;
}

.inputDivRegister{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.inputDivLogin{
    display: flex;
    flex-direction: column;
}

.insideBackgroundWhite{
width: 80%;
margin: auto;
}

.connect{
    color: red;
    cursor: pointer;
}

.Already{
    color: black;
}