/* .containerstock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eb4f29;
    margin-right: 10%;
}

.stockelement{
    padding: 20px;
    width: 300px;
}

.redstock{
    background-color: red;
    height: 30px;
    width: 200px;
    text-align: center;
}

.yellowstock{
    background-color: rgb(219, 123, 54);
    height: 30px;
    width: 200px;
    text-align: center;
}

.greenstock{
    background-color: green;
    height: 30px;
    width: 200px;
    text-align: center;
} */
