.Containercart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 200px;
    margin: 0;
    text-align: center;
}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 15px;
}