
*{
    box-sizing: border-box;
}

.mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;

}

.search{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: 50px
    ;
}