.mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainDiv input{
    margin-top: 5px;
    margin-bottom: 15px;
}

.search{
    align-items: center;
    margin-left: -10vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    width: 30%;
}