.infoperso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Userhome{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backhome{
    text-align: center;
}