.MonProfil{
    width: 100%;
}
.MonProfil > p {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.s{
    width: 10%;
}
.flexCard{
    display: flex;
    align-items: center;
    justify-content: center;
}

.i{
    color: black;
}
.sizeNav{
    width: 80%;
    margin: auto;
}