.div_articlepopulaires {
    width: 100%;
    border: 1px solid rgb(94, 101, 178);
    /* height: 700px; */
}
.div_articlepopulaires > h2 {
    text-align: center;
}

.cardCarou {
    /* border: 1px solid white; */
    height: 400px;
    width: 600px;
    background-color: #eb4f29;
    border-radius: 10px;
    margin: 0 auto;
}
.cardCarou img {
    border-radius: 10px;
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 79%, 0 79%, 0 60%, 0 0);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.spanCarou {
    text-align: end;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 15px;
    /* border: 1px solid white; */
}
.cardCarou > div {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2; 
    top: -14%;
    height: 50px;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
}