.register{
  display: flex;
  flex-direction: row;

}
.dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown > div > a, .dropdown > div > :nth-child(2){
margin:0 10px;
}

.divFav{
  width: 20%;
}
.loginFlex{
  display: flex;
  align-items: center;
}
.card{
display: flex;
align-items: center;
margin: 0 10px ;
font-size: 20px;
}
.Favoris{
  font-size: 30px;
  margin: 0 10px;
  color: brown;
  cursor: pointer;
}
.login1{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.textLogin, .iconNavItems{
font-size: 20px;
}

.login{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.storeNavItems{
  font-size: 30px;
  cursor: pointer;

}
.inscription{
  margin-right: 20px;
  cursor: pointer;
}